<footer class="footer">
  <div class="socialIcons">
    <a href="https://www.facebook.com/cuagainstkennedy/"><i class="fa fa-facebook-official" style="font-size:36px; color: #3b5998 " aria-hidden="true"></i></a>
    <a href="https://twitter.com/cu_sak"><i class="fa fa-twitter" style="font-size:36px; color: #38A1F3" aria-hidden="true"></i></a>
    <a href="mailto: CuAgainstKennedy@gmail.com"><i class="fa fa-envelope" style="font-size:36px; color: white" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/cuagainstkennedy/"><i class="fa fa-instagram" style="font-size:36px; color: #833AB4" aria-hidden="true"></i></a>
  </div>
  Created by CU Against Kennedy. Not formally affiliated with the University of Colorado.<br>
</footer>
