<div class="mediaContainer">
  <h1 class="mediaHeader">This is bigger than just a voting record.</h1>
  <div class="flawedSubsection">
    <h2 class="flawedHeader">A flawed process from the start.</h2>
    <div class="flawedBody">
      The University of Colorado regents ignored the voices of the faculty and students that they promised to faithfully represent.
      Multiple regents have stated that they weren't even aware of his controversial past and problematic job history before voting him as sole finalist. <br><br>
      A current CU Law student and CU Denver alum was nominated by the TriExecs of CU Boulder, the SBA President from the Law School, the Student Body President from CU Denver, the Class President from the Medical School, and the Student Body President of UCCS, to serve on the Presidential Search Committee.
      However, the student was denied. <br><br>
      The regents instead selected a staff member from the Center for Western Civilization, Thought & Policy, who was getting a part-time MBA. Only after fighting the Regents last September did they take action to appoint a student to the committee. Even then, they appointed a student that was not nominated by student leaders. <br><br>
      The process included over 30 vetted candidates, with six semi-finalists whose names went to the Regents.  The search committee sought to rate these semi-finalists, but that request was denied by Regents.
    </div>
  </div>
  <div class="expSubsection">
    <h2 class="expHeader">Lack of Meaningful Academic Experience</h2>
    <div class="expBody">
      Kennedy is unqualified for this position and not loyal to <span style="font-style: italic">any</span> academic institutions.<br><br>
      He does not hold a Ph.D. or have any research experience. He spent 2 years at Johns Hopkins, 4 at George Washington, and less than 3 years at University of North Dakota. <a href="https://www.markkennedy.com/biography.html">Here's his biography.</a><br><br>
      While at UND, he was already interviewing for another position within 20 months of his appointment. He was denied the position of president of University of Central Florida for similar <a href="https://www.grandforksherald.com/news/education/4415499-mark-kennedy-not-chosen-central-florida-president">reasons</a>. He has no connection to Colorado or the CU System. <br><br>
    </div>
  </div>
  <div class="trackSubsection">
    <h2 class="trackHeader">A bad track record</h2>
    <div class="trackBody">
      Kennedy is not widely liked as president of UND, a school that is drastically smaller than the Cu System.<br><br>
      He alienated top <a href="https://www.grandforksherald.com/news/education/4578987-mcgarry-no-engelstad-money-while-kennedy-und">donors</a>, made cuts to departments without consulting faculty, and made controversial statements. A member of the UND Presidential Search committee commented that "he [has] a knack of making missteps where he seems to be tone-deaf." <a href="https://www.grandforksherald.com/news/government-and-politics/4598016-hogwash-kennedy-comments-draw-wide-criticism-community-state">Here's the article.</a><br><br>
    </div>
  </div>
  <div class="polSubsection">
    <h2 class="polHeader">A problematic political follower</h2>
    <div class="polBody">
      Notable quotes from <a href="https://web.archive.org/web/20020727073300/http://www.kennedyforcongress.com/issues.asp">2002</a>, <a href="https://web.archive.org/web/20041029215446/http://www.kennedyforcongress.com/issues.asp">2004</a>, and <a href="https://web.archive.org/web/20061030184416/http://markkennedy06.com/">2006</a> campaign websites:<br><br>
      “Defended the sanctity of marriage against rogue un-elected judges hoping to redefine it.” <br><br>
      “Supported President Bush’s faith-based initiative to allow religious organizations to compete for government program contracts.” <br><br>
      “Sponsored legislation to protect firearms manufacturers and dealers from frivolous lawsuits.”<br><br>
      ---<br><br>
      Kennedy co-sponsored three resolutions which called for the passage of the Federal Marriage Amendment. This amendment would have strictly defined marriage as between one man and one woman, while also denying the legal incidents of marriage to all same-sex couples.
      Kennedy has <span style="font-style: italic">never</span> been a leader in civil rights and inclusion. He deeply held these values, and even now his change of heart is about the "law of the land" and not any sincere change in values.<br><br>
      <div style="text-align: left">
        Kennedy also: <br><br>
        <ul>
          <li>Refused to fund grants for historically Black and Hispanic universities, while cosponsoring four resolutions to honor Catholic universities.</li>
          <br>
          <li>Repeatedly voted to deny access to, and funding for, reproductive health care, including voting to equate the rights of fetuses with the rights of the people who carry them.</li>
          <br>
          <li>Voted against the Stem Cell Research Act of 2005.</li>
          <br>
          <li>Voted extensively for the Oil & Gas lobby and against Environmental Protections.</li>
          <br>
          <li>Voted against renewable energy.</li>
        </ul>
      </div>
    </div>
    <div class="QSubsection">
      <h2 class="QHeader">Inability to handle tough questions</h2>
      <div class="QBody">
        Kennedy's response to a questions about DACA in Florida and his response to Ryan Warner's question about affirmative action on Colorado Matters were embarrassing and disqualifying. <br><br>
        In regards to DACA:<br><br>
        <span style="font-style: normal">Kennedy, a former Republican U.S. congressman from Minnesota, said he supported immigrants, but generally “wasn’t anxious to engage in any political debate.”
        <br><br>
        “I have two measures: Is it directly related to UCF and is my involvement going to make a difference?” he said. “If it doesn’t meet both those tests, I stay being the president of the University of Central Florida and that’s what I get paid to do.”</span>
        <br><br><span style="font-style: italic">Excerpt from the <a href="https://www.orlandosentinel.com/news/education/os-ucf-president-selection-preview-20180307-story.html">Orlando Sentinel</a> by Annie Martin </span><br><br>
        <br><br>
        In regards to Affirmative Action:  <br><br>
        Kennedy: But we have many others throughout the university community and those I've worked with and others that I call friend that have really helped to shape my thinking.<br><br>
        RW: Earlier this month, the US Education Department's Office for Civil Rights told Texas Tech University's medical school to stop considering race in admissions. The move was regarded by some as a sign that the Trump administration is increasing its efforts to curb Affirmative Action policies. What are your thoughts in general on Affirmative Action in college admissions?<br><br>
        Kennedy: I have not wrestled with that at the university yet in that our restrictions have not been as, let me go back. Can I just not answer that question?<br><br>
        RW: That's your choice.<br><br>
        Kennedy: I apologize. You caught me off guard there.<br><br>
        <span style="font-style: italic">Excerpt from the <a href="https://www.cpr.org/news/story/the-cu-systems-contentious-presidential-nominee-mark-kennedy-on-the-backlash">Colorado Public Radio</a> interview by Ryan Warner </span><br><br>

      </div>
    </div>
  </div>
  <app-footer style="width: 100%;"></app-footer>
</div>

