<div class="menuBig" *ngIf="!smallScreen" [@menuMovement]="menuStatus" (@menuMovement.start)="menuAnimStart($event)" (@menuMovement.done)="menuAnimDone($event)"  [ngStyle]="{'height': menuStatus == 'down' ? '100px' : '0px'}">
  <div  class="menu" *ngIf="viewMenuItems">
    <div class="logo">
      <a routerLink="/Home"><img style="height: 100px; width: auto; cursor: pointer;" src="../../assets/CUAK_Logo.png"></a>
    </div>
    <div class="actionArr">
      <div  *ngFor="let action of actionArray">
        <a class="menuAction" (click)="navigateToPage(action.routerLoc)">{{action.name}}</a>
      </div>
    </div>
  </div>
</div>


<div class="menuSmall" *ngIf="smallScreen" [ngStyle]="{'height': heightString}">
  <div class="menu-bar" >
    <div class="logo">
      <a routerLink="/Home"><img style="height: 100px; width: auto;  cursor: pointer;" src="../../assets/CUAK_Logo.png"></a>
    </div>
    <div class="menu-button">
      <mat-icon [@simpleFadeAnimation]="'in'" (click)="handleOpenMenuClick()" *ngIf="menuClosed">menu</mat-icon>
      <mat-icon [@simpleFadeAnimation]="'in'" (click)="handleCloseMenuClick()" *ngIf="!menuClosed">close</mat-icon>
    </div>
  </div>
  <div class="extendedMobileMenu" *ngIf="!menuClosed" >
    <div class="menuActionContainer" *ngFor="let action of actionArray">
      <a class="menuAction" (click)="navigateToPage(action.routerLoc)">{{action.name}}</a>
    </div>
  </div>

</div>
